<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>tera approve ho haya mostly  </title>
    </head>

    <body>
        <h1>you check is request approved lol</h1>

  
     <!-- <table>
    <tr>
        <th>BOOK NAME</th>
        
        <th>KISNE KIYA REQUEST</th>

        <th> APPROVE </th>
        
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.bookName }}</td>
        
        <td>{{ item.requested_by }}</td>
        <td><a href="/approved/{{item.id}}">click here to approve</a>

       
    </tr>
    {% endfor %}
</table>
-->
<h1>HAHAHAHAHA</h1>
<p>{{send1}}</p>

<p>Last attempt</p>
    </body>
</html>